.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}
.vector-graphics{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectoranimation 1s  infinite ease-in-out alternate ;
}

@keyframes vectoranimation {
    to{
        transform: translateY(-10px);
    }
}
.brandsBanner{
    color:white;
    font-size: 3rem;
    transition: color 0.5s ease-in-out;
}
.brandsBanner >svg:hover{
    color: rgb(225,221 ,1)
}
.container2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 video{
/* border:1px solid black; */
border-radius: 5px;
width: 60%;
}

@media screen and (max-width: 600px){
    .container{
        padding: 2rem;
    }
    .container2 video{
        width: 100%;
    }
}